/* src/styles/globals.scss */
@import "tailwindcss";
@source "../features";
@source "../shared";
@import './patient-table.scss';
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0B1121;
  overflow-x: hidden;
}